.grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 20px;
  align-items: normal;
}

div.card {
  border-radius: 3px;
  border: 3px solid black;
  width: 20em;
  height: 20em;
  margin: 2em;
  padding: 1em;
  box-sizing: content-box;
  display: inline-block;
}

p.notes {
  width: 320px;
  height: 75px;
  border: 1px solid;
  padding: 2px 5px;
  white-space: wrap;
  overflow: scroll;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
}

.modal-container {
  z-index: 999;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 50, 51);
  font-size: 15px;
  font-weight: bold;
  color: #62626e;
}

.modal-content {
  width: 80%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #d8dce3;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #f7f8fa;
}

.modal-header {
  padding: 10px 10px;
  padding-left: 10px;
  height: 38px;
  position: relative;
}

.cross-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-form {
  flex-grow: 1;
  border-top: solid 1px #d8dce3;
  padding: 10px 20px;
  margin: 5px;
}

.modal-input {
  width: 90%;
  height: 100%;
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  white-space: wrap;
  overflow: scroll;
}

.submit-btn {
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
  background-color: rgb(3, 179, 120);
  color: rgb(247, 248, 250);
  height: 35px;
  width: 117px;
  font-size: 14px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(4, 150, 101);
  cursor: pointer;
  margin: 10px;
}

.del-btn {
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
  background-color: rgb(179, 3, 3);
  color: rgb(247, 248, 250);
  height: 35px;
  width: 117px;
  font-size: 14px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(4, 150, 101);
  cursor: pointer;
  margin: 10px;
}

.modal-footer {
  border-top: solid 1px #d8dce3;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
  background-color: rgb(77, 144, 255);
  color: rgb(247, 248, 250);
  height: 35px;
  width: 117px;
  font-size: 14px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(43, 123, 255);
  cursor: pointer;
}
h1.header {
  margin: 10px;
  font-family: 'Oleo Script', cursive; 
  font-weight: 700;
  color: lightcyan;
}
h3.header{
  margin: 10px;
  font-family: 'Oleo Script', cursive; 
  color: lightcyan;
}
h4.header{
  margin: 10px;
  font-family: 'Oleo Script', cursive; 
  color: lightcyan;
}

ul.homepage {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: lightcyan;
  list-style: none
}

body.homepage {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  padding-bottom: 40px;
}

.bg-homepage {
  /* The image used */
  background-image: url('/static/img/wood_1/wood_1.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
