.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 20px;
  align-items: center;
}

div.card {
  border-radius: 3px;
  border: 3px solid black;
  width: 16em;
  height: 16em;
  margin: 2em;
  padding: 1em;
  display: inline-block;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
}