{% extends 'base.html' %}

{% block title %}Add Link{% endblock %}

{% block body %}
<body class="bg-results">
  <nav class="navbar navbar-light bg-light">
    <a class="logo navbar-brand col-sm-3 col-md-2 mr-0" href="/craftbox">MyCraftBox</a>
    <h1>Add a Link</h1>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a href="/craftbox" class="nav-link">Return to My Craft Box</a>
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="text-center container-fluid">
    <div class="cover-container h-100 p-3 mx-auto flex-column">
      <div class="card h-25 d-inline-block rounded" style="width: 18rem">
        <main role='main' class='inner cover'>
          <form class="form-signin"  action="/addlink" method="POST">
            <label for="addlinkname">What do you want to name this?</label>
            <p>
            <input type="text" name="name" class="form-control" required>
            </p>
            <label for="addURL">URL for the page saved</label>
            <p>
            <input type="text" name="link_path" class="form-control" required>
            </p>
            <label for="addimage">Optional—Add an image thumbnail. Copy the image address link and paste here.</label>
            <p>
            <input type="text" name="image" class="form-control">
            </p>
            <label for="addNotes">Optional—Add a note about this link.</label>
            <p>
            <input type="text" name="notes" class="form-control">
            </p>
            <p>
              Optional-Tag a link with an available tag. (Can be tagged later.)
            </p>
            <select class="form-control" name="tag2apply">
                <option value=''>Apply a Tag</option>
                {% for tag in tags %}
                <option value="{{tag.tag}}">{{tag.tag}}</option>
                {% endfor %}
            </select>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Link
            </button>
          </form>
        </main>
      </div>
    </div>
  </div>
</body>
{% endblock %}