{% extends 'base.html' %}

{% block title %}My Craft Box{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">MyCraftBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>  
  
  <nav class="nav flex-column">
    <h2>Actions</h2>
    <a class="nav-link active" href="addlink">Add a link</a>
    <a class="nav-link" href="addtag">Add a tag</a>
    <a class="nav-link" href="applytaglink">Tag a link</a>
  </nav>
  
  <div id="buttoncontainer"></div>
  

  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div id="linkcontainer"></div>
    </div>
  </div>
</div>


  
  

{% endblock %}

{% block js %}
<script src="/static/js/button_tags.jsx" type="text/jsx"></script>
<script src="/static/js/linkCard.jsx" type="text/jsx"></script>


{% endblock %}