{% extends 'base.html' %}

{% block title %}Add Link{% endblock %}

{% block body %}

<h1>Edit Card</h1>
  <form action="/editcard" method = 'POST'>
        Select Link to Edit
    <select name="link">
        {% for link in links %}
        <option value="{{link.name}}">{{link.name}}</option>
        {% endfor %}
    </select>
    <p>
      Rename? <input type="text" name="name">
    </p>
    
    <p>
      Update URL? <input type="text" name="link_path">
    </p>
    <p>
      Change Image? <input type="text" name="image">
    </p>
    <p>
      Edit Notes <input type="textarea" name="notes">
    </p>
    Optional-Tag a link with an available tag. (Can be tagged later.)
    <select name="tag2apply">
        {% for tag in tags %}
        <option value="{{tag.tag}}">{{tag.tag}}</option>
        {% endfor %}
    </select>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}