{% extends 'base.html' %}

{% block title %}My Craft Box{% endblock %}

{% block body %}
  <body class="bg-homepage text-center container-fluid">
    <div class="cover-container h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="header masthead-brand">Welcome to My Craft Box!</h1>
        </div>
      </header>
      <div class="text-center h-25 d-inline-block" style="width: 18rem">
        <main role='main' class='inner cover'>
          <form class="form-signin" action="/" method="POST">
          
            <h3 class="header cover-heading">Please log in</h3>
            <input type="text" name="email" class="form-control" placeholder="Email Address" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br>
          </form>
          <div>
            <h4 class="header">Or</h4>
            
            <a class="btn btn-lg btn-secondary btn-block" href="/signup" role="button">Sign up for an account</a>
            
          </div>
        </main>
      </div>
      <footer class="mastfoot mt-auto">
        <div>
          <h4 class="header">My Craft Box is ...</h4>
          <ul class="homepage">
            <li class="homepage">A place where you can store all your favorite links</li>
            <li class="homepage">A place where you can organize them</li>
            <li class="homepage">A place where you can add a note</li>
          <ul>
        </div>
      </footer>
    </div>
  </body>
{% endblock %}
