{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block body %}
<body class="bg-homepage homepage text-center container-fluid">
  <div class="cover-container h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h1 class="header masthead-brand">Welcome to My Craft Box!</h1>
      </div>
    </header>
    <main role='main' class='inner cover'>
      <form class="form-signin" action="/signup" method="POST">
      
        <h3 class="header cover-heading">Sign up for an account</h3>
        <input type="text" name="fname" class="form-control" placeholder="First Name" required>
        <input type="text" name="lname" class="form-control" placeholder="Last Name" required>
        <input type="text" name="user_name" class="form-control" placeholder="User Name" required>
        <input type="text" name="email" class="form-control" placeholder="Email Address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
        <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
        <br>
      </form>
    </main>
    <footer class="mastfoot mt-auto">
      <br>
      <div>
        <h4 class="header">My Craft Box is ...</h4>
        <ul class="homepage">
          <li class="homepage">A place where you can store all your favorite links</li>
          <li class="homepage">A place where you can organize them</li>
          <li class="homepage">A place where you can add a note</li>
        <ul>
      </div>
    </footer>
  </div>
</body>

{% endblock %}
